<div class="container mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand active" href="{{path('homepage')}}"> Accueil </a>
                <a class="navbar-brand" href="{{path('presentation')}}"> Presentation </a>
                <a class="navbar-brand" href="{{path('galerie')}}"> Galerie </a>                
                <a class="navbar-brand" href="{{path('portfolio')}}"> Portfolio </a>
                <a class="navbar-brand" href="{{path('contact')}}"> Contact </a>
            </nav>
        </div>
    </div>
</div>